@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



.nean-effect{

  color: rgb(130, 0, 154);
  transition:
    filter 0.3s ease,
    color 0.3s ease;
  text-shadow:
    0 0 7px #f8abff,
    0 0 10px #ff8ffd,
    0 0 20px #ff8afb,
    0 0 42px #d48bff,   /* lighter purple */
    0 0 82px #e17eff,   /* main purple */
    0 0 92px #a84eff,   /* deeper purple */
    0 0 102px #e17eff,
    0 0 151px #7a2fff; 
}


.nav_link{
  position: relative;
  transition: all 0.2s;
  color: #c403ff;
  text-shadow:
      0 0 7px #f8abff,
      0 0 10px #ff8ffd,
      0 0 20px #ff8afb,
      0 0 30px #d48bff,   /* lighter purple */
      0 0 82px #e17eff,   /* main purple */
      0 0 92px #a84eff,   /* deeper purple */
      0 0 80px #e17eff,
      0 0 151px #9b61ff; 
  }  /* darkest shade */

.nav_link::after{
  content: '';
  height: 2px;
  width: 100%;
  background: #c98cf7;
  position: absolute;
  left: 0;
  opacity: 0;
  bottom: -6px;
  transition: ease-in-out 0.2s;
}

.nav_link:hover::after{
  opacity: 1;
  background: #c98cf7;
 }
